
.md-button {

	background-color: #C06B55;
	border: 0;
	border-radius: 8px;
	padding: 20px 40px ;
	line-height: normal;
	color: white;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 5px 12px #7C4638;
	outline: 0;
	transition: background .2s, box-shadow .2s ;

}



.md-button:hover {

	background-color: #B0624E;
	box-shadow: 5px 8px 10px #484747;
	outline: 0;
	cursor: pointer;

}

.md-button:active {
	
	background-color: #827a7a;
	box-shadow: 5px 9px 22px #544F4F;
	
}

.md-button:disabled {
	
	opacity: 0.8;
	box-shadow: 0px 0px 0px #544F4F;
	cursor: not-allowed;


}

.md-button:focus{

	background: #B76651;

}


ª