body{
	margin: 0;
	background: #eeeeee;

}

.fullscreen{
	
	width: 100vw;
	height: 100vh;
	display: block;
	text-align: center;
/*	background-image: url(img/bacon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;*/
  /*opacity: 0.4;*/

}


.fullscreen img{
 
 width: 100%;
 height: 100%;
 opacity: 0.8;

}

.centerscreen{

	max-width: 1100px;
	margin: 0 auto;

}

.titulo{
	
	text-decoration: underline;
	margin:0 auto;
  text-align: center;
  font-family: verdana,arial;
  color: #B57B66;

}

.alinhamento{

	text-align: center;
	margin-top: 30px;
	color: #b0624e;


}

.box{

	background: #D39B87;
	width: 200px;
	height: 100px;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
  box-shadow: 0px 8px 12px #B57B66;
  font-family: fantasy;
  margin-left: 100px;

}

.fullscreenP2{
	width: 100vw;
	height: 100vh;
	display: block;
	text-align: center;
	background: linear-gradient( rgba(245, 187, 87, 0.82), rgba(236, 132, 99, 0.84), rgba(246, 101, 97, 0.5) );
	/*background-image: url(img/bacon-backgrond.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.4;*/

}